$color: red;
h1 {
  color: $color;
  transition: all 1s;
}
@keyframes mymove {
  from {
    transform: translateX(0);
    transition: all 1s;
  }
  to {
    transition: all 1s;
    transform: translateX(100%);
  }
}